{% extends 'layoutShop.html.twig' %}

{% block title %}ESHOP MAMAD-T{% endblock %}

{% block content %}
    {# container #}
    <div class="container">
        <div class="row my-5">
            {# Barre Latérale gauche #}
            <aside class="col-md-4 sidebar sidebar-left">
                <div class="row widget">
                    <div class="col-xs-12">
                        <h4>Notre boutique</h4>
                        <p>Bienvenue chez MAMAD-T ! Votre boutique de proximité, spécialisée dans les produits alimentaires africains, vous propose un large choix de produits frais et de qualité.</p>
                    </div>
                </div>
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ asset('eshop/assets/img/ArachideFrais.jpg') }}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('eshop/assets/img/bananeplantain.jpg') }}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                        <div class carousel-item>
                            <img src="{{ asset('eshop/assets/img/CategoriesAccessoires.jpg') }}" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>
                <div class="row widget">
                    <div class="col-xs-12">
                        <p>Dans nos rayons, vous retrouverez des fruits et légumes exotiques, des épices, des plats surgelés et de nombreux autres articles et accessoires de qualité.<br>
                            Régulièrement approvisionnés, nous vous faisons découvrir chaque jour des spécialités différentes, directement importées des quatre coins de l'Afrique.</p>
                    </div>
                </div>
            </aside>
            {# /Fin Barre Latérale gauche #}

            <!-- Article principal -->
            <article class="col-md-8 maincontent">
                <div class="container">
                    <header class="page-header text-center mb-5">
                        <h1 class="display-4 fw-bold">À Propos de Nous</h1>
                    </header>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('eshop/assets/img/ImageM.png') }}" class="d-block w-100 img-fluid mb-5 float-md-end" alt="Histoire de MAMAD-T">
                        </div>
                        <div class="col-md-6">
                            <div class="about-content">
                                <h2 class="mb-4">Notre Histoire</h2>
                                <p class="lead">L'histoire de MAMAD-T est celle d'une passion partagée pour la cuisine africaine authentique. Fondée en 2015 par MAMAD-T, notre entreprise s'est engagée à apporter la richesse des saveurs de l'Afrique à votre table. Chaque produit que nous proposons est soigneusement sélectionné pour refléter l'essence même de la gastronomie africaine.</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-content">
                            <h2 class="mb-4">Notre Équipe</h2>
                                    <p class="lead">Notre équipe est composée de chefs talentueux, d'experts en produits alimentaires et de passionnés de culture africaine. Ensemble, nous travaillons chaque jour pour vous offrir une expérience culinaire exceptionnelle, de la qualité de nos produits à l'excellence de notre service.</p>
                                    <h2 class="mb-4">Nos Valeurs</h2>
                                    <p class="lead">Nos valeurs fondamentales reposent sur l'authenticité, la qualité et la satisfaction du client. Nous croyons en la transparence, en l'intégrité et en l'engagement envers nos clients. Chez MAMAD-T, chaque produit a une histoire et chaque client est un membre précieux de notre communauté.</p>
                                </div>
                        </div>
                    </div>
                </div>
                {# /container #}
            </article>
            {# /Article #}

        </div>
    </div>
    {# /container #}
{% endblock %}




