{% extends 'layoutShop.html.twig' %}

{% block title %}Corfirmation d'adresse{% endblock %}

{% block content %}
   <div class="container " style="display: flex; flex-direction: column; min-height: 50vh;">
    <article class="col-md-8 maincontent" style="flex: 1;">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">Salut ! Veuillez confirmer votre adresse e-mail !</h1>

                    <p>
                        Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant : <br><br>
                        <a href="{{ signedUrl|raw }}">Confirmer mon e-mail</a>.
                        Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
                    </p>

                        <p>
                            À votre santé !
                        </p>
            </div>
        </article>
    </div>
{% endblock %}
