<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        {% block stylesheets '' %}
        {% block final_stylesheets '' %}
        {% block head_javascripts '' %}
        <style>
            .image-container {
                width: 100%;
                height: 300px;
                overflow: hidden;
            }

            .cover-image {
                width: 100%;
                object-fit: cover;
                object-position: center center;
            }

        </style>
    </head>

    <body class="ltr main-body leftmenu">
        {% block body '' %}
        {% block javascripts '' %}
        {% block final_javascripts '' %}
    </body>
</html>